{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ],
    [
      "@babel/preset-react",
      {
        "runtime": "classic"
      }
    ],
    "@babel/preset-typescript"
  ]
}
